@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 5rem;
  margin: auto;
}

form {
  display: inline;

}


.main-header {
  width: 100%;
  height: 4.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__items {
  margin: 0 1rem;
  padding: 0;
}

.main-header__items a,
.main-header__items button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main-header__items a:hover,
.main-header__items a:active,
.main-header__items a.active,
.main-header__items button:hover,
.main-header__items button:active {
  color: #ffeb3b;
}
#clickableAwesomeFont{
  cursor: pointer
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}


.card__header h1,
.card__status h1,
.card__prior h1,
.card__due h1,
.card__desc p {
  margin: 2rem;
}

.card__actions {
  padding: 2rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
